.from-san-diego-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
  color: var(--dark-brown);
  text-align: left;
}

.from-san-diego-container h2 {
  font-size: 1.5em;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  font-family: "EB Garamond", serif;
  text-transform: uppercase;
}

.from-san-diego-container h3 {
  font-size: 1.2em;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.from-san-diego-container ul {
  padding-left: 20px;
}

.from-san-diego-container li {
  margin-bottom: 0.5rem;
}

.page-link {
  font-family: "Wilden", serif;
  color: var(--dark-brown);
  font-weight: bold;
}
