.travel-container {
  font-family: "Times New Roman", Times, serif;
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px;
  color: var(--dark-brown);
}

.travel-section {
  margin-bottom: 40px;
}

.travel-section h2 {
  font-size: 1.5em;
  border-bottom: 1px solid var(--transparent-peachy-color);
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-weight: normal;
  font-family: "EB Garamond", serif;
  text-transform: uppercase;
  text-align: left;
}

.getting-in-columns {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.column {
  width: 48%;
}

.column h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
  font-weight: normal;
}

.column h4 {
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.column p {
  line-height: 1.6;
  margin-bottom: 15px;
}

.collapsible-header {
  cursor: pointer;
  border-bottom: 1px solid #fff;
  padding-bottom: 0.5rem;
}

.collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible-content.open {
  max-height: 500px; /* Adjust as needed */
}

@media (max-width: 768px) {
  .getting-in-columns {
    flex-direction: column;
  }
  .column {
    width: 100%;
  }
}