:root {
  font-family: "Princess Sofia", sans-serif;
  --background: #f0d5c4;
  --bright-white: #eeccc2;
  /* background-color: var(--background); */
}

body {
  margin: 0;
  padding: 0 !important;
}

@font-face {
  font-family: "Wilden";
  src: url("./assets/fonts/Wilden.otf") format("opentype"),
    url("/assets/fonts/Wilden.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Luminaire;
  src: url("./assets/fonts/Luminaire-Script-Regular.otf") format("opentype"),
    url("/assets/fonts/Luminaire-Script-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: MorningBrew;
  src: url("./assets/fonts/MorningBrew-Regular.ttf") format("opentype"),
    url("/assets/fonts/MorningBrew-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
/* 
img {
  max-width: 100vw;
  max-height: 150vh;

  @media screen and (max-width: 500px) {
    max-height: 70vh;
    max-width: none;
  }
} */

/* .std-main {
  display: flex;
  justify-content: center;
  align-content: center;
}*/
