:root {
    font-family:  "Princess Sofia", sans-serif;
    font-size: 100px;
    --background: #F0D5C4;
    --bright-white: #EECCC2;
    background-color: var(--background);
    color: var(--bright-white);
    margin: 0;
    padding: 0 !important;
  }

    @font-face {
      font-family: 'Wilden'; /* Choose a name for your font */
      src: url('./assets/fonts/Wilden.otf') format('opentype'); /* Path to your font file */
      font-weight: normal; /* Define font weight if needed */
      font-style: normal; /* Define font style if needed */
    }

  img{
    max-width: 100vw;
    max-height: 150vh;
    @media screen and (max-width: 500px) {
      max-height: 70vh;
      max-width: none;
    }
  }
  .std-main{
    display: flex;
    justify-content: center;
    align-content: center;
  }