:root {
    font-family:  "Princess Sofia", sans-serif;
    font-size: 100px;
    --background: #67542E;
    --bright-white: #EECCC2;
    background-color: var(--background);
    color: var(--bright-white);
    margin: 0;
    padding: 0 !important;
  }

  img{
    max-width: 100vw;
    max-height: 100vh;
  }
  .std-main{
    display: flex;
    justify-content: center;
    align-content: center;
  }